.hero{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: calc(100% - 100px);
}
.hero__part1 .title{
    font-size: 2.2rem;
}
.hero__hi{
    font-size: 1rem;
}
.hero__part1 .title span{
    color: var(--destructive);
}
.hero__desc{
    font-size: 1rem;
}

.hero__img img{
    width: 50%;
}
.hero__controls{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}
.btn{
    padding: .5rem;
    border: 1px solid var(--foreground);
    border-radius: 5px;
}
.btn__primary{
    background-color: var(--primary);
    color: var(--primary-foreground);
}
@media (min-width:768px) {
    .hero{
        padding: 0 5rem;
    }
    .hero__part1{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: left;
    }
    .hero__part1 .hero__img,.hero__text{
        flex: 1;
    }
    .hero__img{
        text-align: right;
    }
    .hero__controls{
    justify-content: start;
}

}
@media (min-width:992px) {
    .hero{
        padding: 1rem 10rem;
    }
}
@media (min-width:1400px) {
    .hero__img{
        flex: 1;
    }
    .hero__text{
        flex: 2;
    }
    .hero__text .title{
        font-size: 5rem;
    }
    .hero{
        padding: 1rem 15rem;
    }
    .hero__desc{
        width: 80%;
        font-size: 1.2rem;
    }
    .hero__img img{
    width: 100%;
}
}