.footer{
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background-color: var(--muted);
    text-align: center;
    position: relative;
}
.float{
    position: absolute;
    right: 3rem;
    top: .5rem;
}







@media (min-width:768px) {
    .footer{
        padding: 0 5rem;
    }


}
@media (min-width:992px) {
    .footer{
        padding: 1rem 10rem;
    }
}
@media (min-width:1400px) {
    .footer{
        padding: 1rem 15rem;
    }
}